[core]
autoTriggerCheckRate:every8Frames
availableInDemo: true

[global_resource_metal]
displayName: Metal
displayColor: #808080
displayRoundedDown: true
displayDigitGrouping: comma
displayPos: 2

[global_resource_energy]
displayName: Energy
displayColor: #fffb00
displayRoundedDown: true
displayDigitGrouping: comma
displayPos: 2